.blockquote {
	padding: 150px 0;
	@media (max-width: 1000px) {
		padding: 120px 0;
	}
	@media (max-width: 638px) {
		padding: 60px 0px;
	}
	@media (max-width: 435px) {
		padding: 80px 0px;
	}
	// .blockquote__text

	&__text {
		font-family: Cormorant;
		font-size: 40px;
		line-height: 48px;
		text-align: center;
		font-style: italic;
		max-width: 705px;
		margin: 0 auto;
		@media (max-width: 638px) {
			max-width: 360px;
			font-family: Open Sans;
			font-size: 16px;
			line-height: 22px;
		}
	}
}
